/*******************************************************************
                                        Cart Block Styles
********************************************************************/
.cart_block.exclusive {
  border: 0;
  background: transparent;
  text-transform: none; }

#header .shopping_cart {
  position: relative;
  float: right; }
  #header .shopping_cart > a:first-child {
    padding: 10px 0 10px 43px;
    display: block;
    color: #000;
    font-family: psans, Arial, serif;
    font-style: normal;
    font-size: 20px; }
    #header .shopping_cart > a:first-child > * {
      vertical-align: middle; }
    #header .shopping_cart > a:first-child span {
      font-family: psans, Arial, serif;
      font-style: italic;
      font-size: 16px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #header .shopping_cart > a:first-child span.ajax_cart_product_txt, #header .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
        display: none !important; } }
    #header .shopping_cart > a:first-child b {
      font-weight: normal;
      padding-right: 5px; }
  #header .shopping_cart .ajax_cart_total {
    color: #ff4848; }

.cart_block {
  margin-bottom: 30px;
  -moz-box-shadow: #cccccc 0px 0px 10px;
  -webkit-box-shadow: #cccccc 0px 0px 10px;
  box-shadow: #cccccc 0px 0px 10px; }
  .cart_block .cart_block_list .remove_link {
    position: absolute;
    right: 10px;
    top: 19px; }
  .cart_block .cart_block_list .remove_link a,
  .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #333;
    display: block;
    width: 100%;
    height: 100%; }
    .cart_block .cart_block_list .remove_link a:before,
    .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
      display: inline-block;
      content: "\f057";
      font-family: "FontAwesome";
      font-size: 18px;
      line-height: 18px; }
  .cart_block .cart-images {
    float: left;
    margin-right: 20px; }
  .cart_block .cart-info {
    position: relative;
    padding-right: 20px; }
    .cart_block .cart-info .product-name {
      padding-bottom: 5px;
      margin-top: -4px; }
      .cart_block .cart-info .product-name a {
        font-size: 13px;
        line-height: 18px;
        display: inline-block;
        vertical-align: middle; }
    .cart_block .cart-info .quantity-formated {
      color: #333;
      display: inline-block;
      text-transform: uppercase;
      font-size: 10px;
      padding-right: 5px; }
      .cart_block .cart-info .quantity-formated .quantity {
        font-size: 15px; }
  .cart_block dt {
    font-weight: normal;
    overflow: hidden;
    padding: 20px 10px 16px 20px;
    position: relative; }
  .cart_block dd {
    position: relative; }
    .cart_block dd .cart_block_customizations {
      border-top: 1px dashed #333333; }
      .cart_block dd .cart_block_customizations li {
        padding: 10px 20px; }
        .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
          position: absolute;
          right: 10px; }
  .cart_block .cart_block_no_products {
    margin: 0;
    padding: 10px 20px; }
  .cart_block .cart-prices {
    padding: 10px 20px 22px 20px; }
    .cart_block .cart-prices span {
      color: #000;
      font-size: 16px; }
    .cart_block .cart-prices .cart-prices-line {
      overflow: hidden;
      border-bottom: 1px solid #ccc;
      padding: 7px 0; }
      .cart_block .cart-prices .cart-prices-line.last-line {
        border: none; }
  .cart_block .cart-buttons {
    overflow: hidden;
    padding: 0 20px 10px 20px;
    margin: 0;
    text-align: center; }

/*******************************************************************
                                        Cart Block(Header) Styles
********************************************************************/
#header .cart_block {
  position: absolute;
  top: 51px;
  right: 0;
  z-index: 100 !important;
  display: none;
  height: auto;
  background: white;
  width: 350px; }
  @media (max-width: 480px) {
    #header .cart_block {
      top: 65px;
      width: 100%; } }
  @media (max-width: 1200px) {
    #header .cart_block {
      width: 100%; } }
  #header .cart_block .cart_block_list .remove_link a,
  #header .cart_block .cart_block_list .ajax_cart_block_remove_link {
    outline: none;
    text-decoration: none; }
  #header .cart_block .price {
    color: #ff4848; }
  #header .cart_block dt {
    border-bottom: 1px solid #eee; }
    #header .cart_block dt.last_item {
      border-bottom: none; }
  #header .cart_block .product-atributes {
    padding-bottom: 10px;
    font-size: 11px; }
    #header .cart_block .product-atributes a {
      color: #555; }
  #header .cart_block #cart-prices {
    border: none; }
#header .block_content {
  margin-bottom: 0; }

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none; }

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right; }

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .cart_block table.vouchers tr td {
    padding: 2px; }
    .cart_block table.vouchers tr td.quantity {
      margin-right: 5px;
      min-width: 18px; }
    .cart_block table.vouchers tr td.delete {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      width: 15px; }

/*****************************************************************************
                                        Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

#layer_cart {
  position: fixed;
  display: none;
  z-index: 99;
  width: 48%;
  margin: auto;
  left: 0;
  right: 0; }
  #layer_cart .layer_cart_product {
    padding: 30px 30px 30px 30px;
    overflow: hidden;
    position: static; }
    #layer_cart .layer_cart_product .layer_cart_product_info {
      padding: 38px 0 0 0; }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
        display: block;
        padding-bottom: 8px; }
      #layer_cart .layer_cart_product .layer_cart_product_info > div {
        padding-bottom: 7px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
          padding-right: 3px; }
  #layer_cart .layer_cart_cart {
    background: #fafafa;
    border-left: 1px solid #d6d4d4;
    padding: 21px 30px 170px 30px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px 4px 4px 0px;
    position: relative; }
    @media (min-width: 1200px) {
      #layer_cart .layer_cart_cart {
        min-height: 318px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      #layer_cart .layer_cart_cart {
        min-height: 360px; } }
    @media (max-width: 991px) {
      #layer_cart .layer_cart_cart {
        border-left: none;
        border-top: 1px solid #d6d4d4; } }
    #layer_cart .layer_cart_cart h2 {
      font: 400 23px/29px Arial, Helvetica, sans-serif;
      color: #333333;
      border-bottom: 1px solid #d6d4d4;
      padding-bottom: 13px;
      margin-bottom: 17px; }
      @media (max-width: 767px) {
        #layer_cart .layer_cart_cart h2 {
          font-size: 18px; } }
    #layer_cart .layer_cart_cart .layer_cart_row {
      padding: 0 0 7px 0; }
    #layer_cart .layer_cart_cart .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0px 30px 20px 30px; }
      #layer_cart .layer_cart_cart .button-container .btn {
        margin-bottom: 10px; }
      #layer_cart .layer_cart_cart .button-container span.exclusive-medium {
        margin-right: 5px; }
        #layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
          padding-right: 5px;
          color: #777777; }
  #layer_cart .cross {
    position: absolute;
    right: 7px;
    top: 8px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #333333;
    z-index: 2; }
    #layer_cart .cross:before {
      content: "\f057";
      display: block;
      font-family: "FontAwesome";
      font-size: 25px;
      line-height: 25px; }
    #layer_cart .cross:hover {
      color: #515151; }
  #layer_cart .continue {
    cursor: pointer; }
  #layer_cart p {
    padding: 0px; }
  #layer_cart .list-group-item > span {
    float: right; }

/************************************************************************
                                                Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling {
  height: 270px;
  display: none; }
  #layer_cart .crossseling .crossseling-heading {
    position: relative;
    padding: 10px 15px;
    background: #ddee77;
    border-bottom: 4px solid #333;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px;
    border-radius: 3px 3px 0 0; }
    #layer_cart .crossseling .crossseling-heading h4 {
      text-align: center;
      margin: 0; }
    #layer_cart .crossseling .crossseling-heading .bx-prev, #layer_cart .crossseling .crossseling-heading .bx-next {
      line-height: 0;
      position: absolute;
      top: 5px;
      border-color: #eee; }
    #layer_cart .crossseling .crossseling-heading .bx-prev {
      left: 5px; }
    #layer_cart .crossseling .crossseling-heading .bx-next {
      right: 5px; }
  #layer_cart .crossseling .crossseling-content {
    margin: 10px 0;
    position: relative; }
  #layer_cart .crossseling #blockcart_list {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden; }
    #layer_cart .crossseling #blockcart_list ul {
      display: block; }
      #layer_cart .crossseling #blockcart_list ul li {
        float: left;
        width: 110px;
        margin: 0; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container {
          border: 1px solid #d6d4d4;
          text-align: center;
          padding: 5px;
          margin-bottom: 15px; }
          #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
            width: 100%; }
        #layer_cart .crossseling #blockcart_list ul li .product-footer {
          text-align: center;
          font-size: 12px; }
          #layer_cart .crossseling #blockcart_list ul li .product-footer > div {
            margin-bottom: 5px; }
    #layer_cart .crossseling #blockcart_list a.bx-prev,
    #layer_cart .crossseling #blockcart_list a.bx-next {
      display: block;
      font-family: "FontAwesome";
      font-size: 20px;
      line-height: 20px;
      width: 20px;
      height: 20px;
      color: #333333;
      text-indent: -5000px;
      position: absolute;
      top: 45%;
      margin-top: -20px; }
      #layer_cart .crossseling #blockcart_list a.bx-prev:after,
      #layer_cart .crossseling #blockcart_list a.bx-next:after {
        display: block;
        text-indent: 0; }
      #layer_cart .crossseling #blockcart_list a.bx-prev:hover,
      #layer_cart .crossseling #blockcart_list a.bx-next:hover {
        color: #c0c0c0; }
      #layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
      #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
        display: none; }
    #layer_cart .crossseling #blockcart_list a.bx-prev {
      left: 5%; }
      #layer_cart .crossseling #blockcart_list a.bx-prev:after {
        content: "\f137"; }
    #layer_cart .crossseling #blockcart_list a.bx-next {
      right: 5%; }
      #layer_cart .crossseling #blockcart_list a.bx-next:after {
        content: "\f138"; }
    #layer_cart .crossseling #blockcart_list .bx-controls {
      overflow: hidden; }

#layer_cart_product_title {
  font-size: 18px;
  margin-bottom: 10px; }

.panel .ajax_block_cart_total {
  color: #ff4848; }
.panel .layer_cart_product_info div {
  margin-bottom: 5px; }
.panel #layer_cart_product_attributes {
  margin-bottom: 10px; }

.panel-footer .btn-default {
  float: right; }

@media (max-width: 767px) {
  .shopping_cart .cart_block dl.products {
    text-align: center; }
    .shopping_cart .cart_block dl.products .cart-images {
      float: none;
      margin: 0; }

  #layer_cart .panel-footer {
    text-align: center; }
    #layer_cart .panel-footer .btn-default {
      margin-top: 10px;
      float: none; } }

/*# sourceMappingURL=blockcart.css.map */
