@import "compass";
@import "theme_variables";

#my-account {
    .myaccount-link-list {
        li {
            height: 50px;
            line-height: 50px;
            background: #454e50;
            margin-bottom: 10px;
            
            a {
                color: #fff;
                display: block;
                
                .ma_icon {
                    display: inline-block;
                    width: 20%;
                    text-align: center;
                    border-right: 2px solid #3b4446;
                    margin-right: 10px;
                    
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}